    /*
    Flaticon icon font: Flaticon
    Creation date: 08/10/2020 08:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-relax-stones:before { content: "\f100"; }
.flaticon-lotus:before { content: "\f101"; }
.flaticon-cream:before { content: "\f102"; }
.flaticon-nail-polish:before { content: "\f103"; }
.flaticon-gel:before { content: "\f104"; }
.flaticon-cream-1:before { content: "\f105"; }
.flaticon-spa:before { content: "\f106"; }
.flaticon-smartphone:before { content: "\f107"; }
.flaticon-washbowl:before { content: "\f108"; }
.flaticon-herbs:before { content: "\f109"; }
.flaticon-mortar:before { content: "\f10a"; }
.flaticon-towel:before { content: "\f10b"; }
.flaticon-juice:before { content: "\f10c"; }
.flaticon-herb:before { content: "\f10d"; }
.flaticon-honey:before { content: "\f10e"; }
.flaticon-foot:before { content: "\f10f"; }
.flaticon-waterdrop:before { content: "\f110"; }
.flaticon-aromatic:before { content: "\f111"; }
.flaticon-hot-tub:before { content: "\f112"; }
.flaticon-essential-oil:before { content: "\f113"; }
.flaticon-tea:before { content: "\f114"; }
.flaticon-bathrobe:before { content: "\f115"; }
.flaticon-essential-oil-1:before { content: "\f116"; }
.flaticon-sandals:before { content: "\f117"; }
.flaticon-bamboo:before { content: "\f118"; }
.flaticon-candle:before { content: "\f119"; }
.flaticon-burner:before { content: "\f11a"; }
.flaticon-comb:before { content: "\f11b"; }
.flaticon-hairdryer:before { content: "\f11c"; }
.flaticon-hair-cream:before { content: "\f11d"; }
.flaticon-closet:before { content: "\f11e"; }
.flaticon-makeup:before { content: "\f11f"; }
.flaticon-washbasin:before { content: "\f120"; }
.flaticon-candle-1:before { content: "\f121"; }
.flaticon-sauna:before { content: "\f122"; }
.flaticon-spa-1:before { content: "\f123"; }
.flaticon-bamboo-1:before { content: "\f124"; }
.flaticon-aromatic-candle:before { content: "\f125"; }
.flaticon-bucket:before { content: "\f126"; }
.flaticon-body-scrub:before { content: "\f127"; }
.flaticon-dropper:before { content: "\f128"; }
.flaticon-flower:before { content: "\f129"; }
.flaticon-facial-treatment:before { content: "\f12a"; }
.flaticon-massage:before { content: "\f12b"; }
.flaticon-honey-jar:before { content: "\f12c"; }
.flaticon-hot-spring:before { content: "\f12d"; }
.flaticon-hot-stone:before { content: "\f12e"; }
.flaticon-oil:before { content: "\f12f"; }
.flaticon-mortar-1:before { content: "\f130"; }
.flaticon-oil-1:before { content: "\f131"; }
.flaticon-aromatherapy:before { content: "\f132"; }
.flaticon-shower:before { content: "\f133"; }
.flaticon-slippers:before { content: "\f134"; }
.flaticon-massage-1:before { content: "\f135"; }
.flaticon-water:before { content: "\f136"; }
.flaticon-bathrobe-1:before { content: "\f137"; }
.flaticon-hot-stones:before { content: "\f138"; }
.flaticon-kettle:before { content: "\f139"; }
.flaticon-herbal:before { content: "\f13a"; }
.flaticon-cream-2:before { content: "\f13b"; }
.flaticon-sauna-1:before { content: "\f13c"; }
.flaticon-slipper:before { content: "\f13d"; }
.flaticon-time:before { content: "\f13e"; }
.flaticon-candle-2:before { content: "\f13f"; }
.flaticon-oil-2:before { content: "\f140"; }
.flaticon-towels:before { content: "\f141"; }
.flaticon-sauna-2:before { content: "\f142"; }
.flaticon-massage-2:before { content: "\f143"; }
.flaticon-skin:before { content: "\f144"; }
.flaticon-depilation:before { content: "\f145"; }
.flaticon-bamboo-2:before { content: "\f146"; }
.flaticon-foot-massage:before { content: "\f147"; }
.flaticon-spa-2:before { content: "\f148"; }
.flaticon-spa-3:before { content: "\f149"; }
.flaticon-shower-1:before { content: "\f14a"; }
.flaticon-mortar-2:before { content: "\f14b"; }
.flaticon-flower-1:before { content: "\f14c"; }
.flaticon-spa-4:before { content: "\f14d"; }
.flaticon-acupuncture:before { content: "\f14e"; }
.flaticon-aroma:before { content: "\f14f"; }
.flaticon-acupuncture-1:before { content: "\f150"; }
.flaticon-bamboo-3:before { content: "\f151"; }
.flaticon-flip-flop:before { content: "\f152"; }
.flaticon-cosmetics:before { content: "\f153"; }
.flaticon-yoga-mat:before { content: "\f154"; }
.flaticon-flower-2:before { content: "\f155"; }
.flaticon-spa-candles:before { content: "\f156"; }
.flaticon-soap:before { content: "\f157"; }
.flaticon-towel-1:before { content: "\f158"; }
.flaticon-lotion:before { content: "\f159"; }
.flaticon-foot-massage-1:before { content: "\f15a"; }
.flaticon-massage-3:before { content: "\f15b"; }
.flaticon-hot-stone-1:before { content: "\f15c"; }
.flaticon-beauty-treatment:before { content: "\f15d"; }
.flaticon-honey-1:before { content: "\f15e"; }
.flaticon-towels-1:before { content: "\f15f"; }
.flaticon-wax:before { content: "\f160"; }
.flaticon-acupuncture-2:before { content: "\f161"; }
.flaticon-massage-4:before { content: "\f162"; }
.flaticon-make-up:before { content: "\f163"; }
.flaticon-cream-3:before { content: "\f164"; }
.flaticon-essential-oil-2:before { content: "\f165"; }
.flaticon-stones:before { content: "\f166"; }
.flaticon-lotus-1:before { content: "\f167"; }
.flaticon-essential-oil-3:before { content: "\f168"; }
.flaticon-essential-oil-4:before { content: "\f169"; }
.flaticon-shower-2:before { content: "\f16a"; }
.flaticon-stopwatch:before { content: "\f16b"; }
.flaticon-pills:before { content: "\f16c"; }
.flaticon-spa-5:before { content: "\f16d"; }
.flaticon-towels-2:before { content: "\f16e"; }
.flaticon-herbal-1:before { content: "\f16f"; }
.flaticon-next:before { content: "\f170"; }
.flaticon-back:before { content: "\f171"; }
.flaticon-branch:before { content: "\f172"; }
.flaticon-olive-branch:before { content: "\f173"; }
.flaticon-branch-1:before { content: "\f174"; }
.flaticon-bamboo-4:before { content: "\f175"; }
.flaticon-branch-2:before { content: "\f176"; }
.flaticon-focus:before { content: "\f177"; }
.flaticon-focus-1:before { content: "\f178"; }
.flaticon-focus-2:before { content: "\f179"; }
.flaticon-plant:before { content: "\f17a"; }
.flaticon-facial-treatment-1:before { content: "\f17b"; }
.flaticon-facial-treatment-2:before { content: "\f17c"; }
.flaticon-skincare:before { content: "\f17d"; }
.flaticon-settings:before { content: "\f17e"; }
.flaticon-gift:before { content: "\f17f"; }
.flaticon-aromatherapy-1:before { content: "\f180"; }
.flaticon-essential-oil-5:before { content: "\f181"; }
.flaticon-herbal-2:before { content: "\f182"; }
.flaticon-teapot:before { content: "\f183"; }
    
    $font-Flaticon-relax-stones: "\f100";
    $font-Flaticon-lotus: "\f101";
    $font-Flaticon-cream: "\f102";
    $font-Flaticon-nail-polish: "\f103";
    $font-Flaticon-gel: "\f104";
    $font-Flaticon-cream-1: "\f105";
    $font-Flaticon-spa: "\f106";
    $font-Flaticon-smartphone: "\f107";
    $font-Flaticon-washbowl: "\f108";
    $font-Flaticon-herbs: "\f109";
    $font-Flaticon-mortar: "\f10a";
    $font-Flaticon-towel: "\f10b";
    $font-Flaticon-juice: "\f10c";
    $font-Flaticon-herb: "\f10d";
    $font-Flaticon-honey: "\f10e";
    $font-Flaticon-foot: "\f10f";
    $font-Flaticon-waterdrop: "\f110";
    $font-Flaticon-aromatic: "\f111";
    $font-Flaticon-hot-tub: "\f112";
    $font-Flaticon-essential-oil: "\f113";
    $font-Flaticon-tea: "\f114";
    $font-Flaticon-bathrobe: "\f115";
    $font-Flaticon-essential-oil-1: "\f116";
    $font-Flaticon-sandals: "\f117";
    $font-Flaticon-bamboo: "\f118";
    $font-Flaticon-candle: "\f119";
    $font-Flaticon-burner: "\f11a";
    $font-Flaticon-comb: "\f11b";
    $font-Flaticon-hairdryer: "\f11c";
    $font-Flaticon-hair-cream: "\f11d";
    $font-Flaticon-closet: "\f11e";
    $font-Flaticon-makeup: "\f11f";
    $font-Flaticon-washbasin: "\f120";
    $font-Flaticon-candle-1: "\f121";
    $font-Flaticon-sauna: "\f122";
    $font-Flaticon-spa-1: "\f123";
    $font-Flaticon-bamboo-1: "\f124";
    $font-Flaticon-aromatic-candle: "\f125";
    $font-Flaticon-bucket: "\f126";
    $font-Flaticon-body-scrub: "\f127";
    $font-Flaticon-dropper: "\f128";
    $font-Flaticon-flower: "\f129";
    $font-Flaticon-facial-treatment: "\f12a";
    $font-Flaticon-massage: "\f12b";
    $font-Flaticon-honey-jar: "\f12c";
    $font-Flaticon-hot-spring: "\f12d";
    $font-Flaticon-hot-stone: "\f12e";
    $font-Flaticon-oil: "\f12f";
    $font-Flaticon-mortar-1: "\f130";
    $font-Flaticon-oil-1: "\f131";
    $font-Flaticon-aromatherapy: "\f132";
    $font-Flaticon-shower: "\f133";
    $font-Flaticon-slippers: "\f134";
    $font-Flaticon-massage-1: "\f135";
    $font-Flaticon-water: "\f136";
    $font-Flaticon-bathrobe-1: "\f137";
    $font-Flaticon-hot-stones: "\f138";
    $font-Flaticon-kettle: "\f139";
    $font-Flaticon-herbal: "\f13a";
    $font-Flaticon-cream-2: "\f13b";
    $font-Flaticon-sauna-1: "\f13c";
    $font-Flaticon-slipper: "\f13d";
    $font-Flaticon-time: "\f13e";
    $font-Flaticon-candle-2: "\f13f";
    $font-Flaticon-oil-2: "\f140";
    $font-Flaticon-towels: "\f141";
    $font-Flaticon-sauna-2: "\f142";
    $font-Flaticon-massage-2: "\f143";
    $font-Flaticon-skin: "\f144";
    $font-Flaticon-depilation: "\f145";
    $font-Flaticon-bamboo-2: "\f146";
    $font-Flaticon-foot-massage: "\f147";
    $font-Flaticon-spa-2: "\f148";
    $font-Flaticon-spa-3: "\f149";
    $font-Flaticon-shower-1: "\f14a";
    $font-Flaticon-mortar-2: "\f14b";
    $font-Flaticon-flower-1: "\f14c";
    $font-Flaticon-spa-4: "\f14d";
    $font-Flaticon-acupuncture: "\f14e";
    $font-Flaticon-aroma: "\f14f";
    $font-Flaticon-acupuncture-1: "\f150";
    $font-Flaticon-bamboo-3: "\f151";
    $font-Flaticon-flip-flop: "\f152";
    $font-Flaticon-cosmetics: "\f153";
    $font-Flaticon-yoga-mat: "\f154";
    $font-Flaticon-flower-2: "\f155";
    $font-Flaticon-spa-candles: "\f156";
    $font-Flaticon-soap: "\f157";
    $font-Flaticon-towel-1: "\f158";
    $font-Flaticon-lotion: "\f159";
    $font-Flaticon-foot-massage-1: "\f15a";
    $font-Flaticon-massage-3: "\f15b";
    $font-Flaticon-hot-stone-1: "\f15c";
    $font-Flaticon-beauty-treatment: "\f15d";
    $font-Flaticon-honey-1: "\f15e";
    $font-Flaticon-towels-1: "\f15f";
    $font-Flaticon-wax: "\f160";
    $font-Flaticon-acupuncture-2: "\f161";
    $font-Flaticon-massage-4: "\f162";
    $font-Flaticon-make-up: "\f163";
    $font-Flaticon-cream-3: "\f164";
    $font-Flaticon-essential-oil-2: "\f165";
    $font-Flaticon-stones: "\f166";
    $font-Flaticon-lotus-1: "\f167";
    $font-Flaticon-essential-oil-3: "\f168";
    $font-Flaticon-essential-oil-4: "\f169";
    $font-Flaticon-shower-2: "\f16a";
    $font-Flaticon-stopwatch: "\f16b";
    $font-Flaticon-pills: "\f16c";
    $font-Flaticon-spa-5: "\f16d";
    $font-Flaticon-towels-2: "\f16e";
    $font-Flaticon-herbal-1: "\f16f";
    $font-Flaticon-next: "\f170";
    $font-Flaticon-back: "\f171";
    $font-Flaticon-branch: "\f172";
    $font-Flaticon-olive-branch: "\f173";
    $font-Flaticon-branch-1: "\f174";
    $font-Flaticon-bamboo-4: "\f175";
    $font-Flaticon-branch-2: "\f176";
    $font-Flaticon-focus: "\f177";
    $font-Flaticon-focus-1: "\f178";
    $font-Flaticon-focus-2: "\f179";
    $font-Flaticon-plant: "\f17a";
    $font-Flaticon-facial-treatment-1: "\f17b";
    $font-Flaticon-facial-treatment-2: "\f17c";
    $font-Flaticon-skincare: "\f17d";
    $font-Flaticon-settings: "\f17e";
    $font-Flaticon-gift: "\f17f";
    $font-Flaticon-aromatherapy-1: "\f180";
    $font-Flaticon-essential-oil-5: "\f181";
    $font-Flaticon-herbal-2: "\f182";
    $font-Flaticon-teapot: "\f183";